<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 2px solid #000;
        }

        .logo {
            width: 150px; /* Ajuste o tamanho conforme necessário */
        }

        .company-info {
            text-align: left;
        }

        .company-info p {
            margin: 0;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<div class="header">
    <div>
        <img src="../../../server/images/logo.png" alt="Logotipo da Empresa" class="logo">
    </div>
    <div class="company-info">
        <p><strong>Nome Fantasia:</strong> Empresa Exemplo</p>
        <p><strong>CNPJ:</strong> 00.000.000/0000-00</p>
        <p><strong>Endereço:</strong> Rua Exemplo, 123, Cidade - Estado</p>
        <p><strong>Telefone:</strong> (00) 0000-0000</p>
    </div>
</div>

</body>
</html>
